html {
  min-width: 560px;
}

.cont {
  margin-top: 5%;
}

.mt {
  margin-top: 10%;
}

.rollingDark {
  padding-top: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

.rolling-text-dark {
  font-size: 20px !important;
  color: aqua;
}

.rollingLight {
  padding-top: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

.rolling-text-dark {
  font-size: 20px !important;
  color: #151520;
}

.btn-primary {
  background-color: $buttonPrimary !important;
  color: white;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: $buttonPrimaryHover !important;
}

.fa-edit {
  color: black;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 200;
}

.table th,
.table td {
  padding-left: 5%;
}

.settings {
  margin-left: 5%;
  margin-right: 10%;
}
