$navButton: #ae64db;
$textLight: black;
$cardLight: white;

// light colors
$backgroundLight: #e1e1eb;
$navbarLight: #0091d5;
$dropdownLight: #ebebeb;
$dropdownHovLight: #ffffff;
$lightFadeLight: rgba(0, 0, 0, 0.95);
$mediumFadeLight: rgba(0, 0, 0, 0.85);
$heavyFadeLight: rgba(0, 0, 0, 0.75);
$buttonPrimary: #0091d5;
$buttonPrimaryHover: #00acff;

// dark colors
$backgroundDark: #151520;
$navbarDark: #2b2b40;
$dropdownDark: #383d48;
$dropdownHovDark: #5c6578;
$lightFadeDark: rgba(255, 255, 255, 0.95);
$mediumFadeDark: rgba(255, 255, 255, 0.85);
$heavyFadeDark: rgba(255, 255, 255, 0.75);
$textDark: white;
$cardDark: #2b2b40;
$inputDark: #555580;

// rules
.Light {
  background-color: $backgroundLight;
  .navbar {
    background-color: $navbarLight;
  }
  .card {
    background-color: $cardLight;
  }
  .dropdown-menu {
    background-color: $dropdownLight !important;
  }
  .dropdown-item {
    color: $mediumFadeLight !important;
  }
  .dropdown-item:hover {
    background-color: $dropdownHovLight;
  }
  .card-header {
    color: $mediumFadeLight;
    border-bottom: 1px solid $heavyFadeLight;
  }
}

.Dark {
  background-color: $backgroundDark;
  color: $textDark;
  .navbar {
    background-color: $navbarDark;
  }
  .card {
    background-color: $cardDark;
  }
  .form-control {
    background-color: $inputDark !important;
    border: none !important;
    color: white;
  }

  .list-group-item {
    background-color: $cardDark !important;
    border: none;
    color: white;
  }
  .dropdown-menu {
    background-color: $dropdownDark !important;
  }
  .dropdown-item {
    color: $mediumFadeDark !important;
  }
  .dropdown-item:hover {
    background-color: $dropdownHovDark;
  }
  .card-header {
    color: $mediumFadeDark;
    border-bottom: 1px solid $heavyFadeDark;
  }
}
