@media screen and (max-width: $mdBreak) {
  $baseFontSize: 15px;
  $scale: 3;

  @include scaleHeaders($baseFontSize, $scale);
}

@media screen and (max-width: $smBreak) {
  $baseFontSize: 14px;
  $scale: 2;

  @include scaleHeaders($baseFontSize, $scale);

  .table th,
  .table td {
    padding-left: 2%;
  }
}
