.navbar-brand {
  margin-left: 2%;
}

.navbar-links {
  margin-right: 2%;
}

.navbar-nav {
  margin-right: 1%;
}

.dropdown-toggle {
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
  font-size: 22px;
  padding-left: 7px !important;
  padding-top: 7px !important;
  border: none !important;
}

.dropdown-toggle:after {
  display: none;
}

.dropdown-menu {
  width: 225px !important;
}

.dropdown-item {
  i {
    margin-right: 10%;
  }
  height: 60px;
  padding-left: 10%;
  padding-right: 15%;
  font-size: 18px;
  padding-top: 15px;
  font-weight: 600;
  border-bottom: 1px solid;
}

.nav-link {
  color: rgba(255, 255, 255, 0.85) !important;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 1) !important;
}
