.full {
  .navbar-brand {
    margin-left: 2%;
    padding: 0;
  }

  .right-bar {
    margin-right: 30px;
    width: 160px;
  }

  .badge-notify {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    font-size: 12px;
    background: rgba(255, 100, 50, 0.85);
    position: relative;
    left: -8px;
    top: -8px;
    border-radius: 50%;
  }

  .nav-link {
    padding: 0;
    margin: 0;
    i {
      font-size: 20px;
      padding-top: 10px;
    }
    color: $mediumFadeDark !important;
  }

  .nav-link:hover {
    color: white !important;
  }

  .dropdown-toggle {
    border-radius: 50%;
    width: 36px !important;
    height: 36px !important;
    font-size: 18px;
    padding-left: 5px !important;
    padding-top: 5px !important;
  }

  .dropdown-toggle:hover {
    border: 2px solid $heavyFadeDark;
  }

  .dropdown-toggle:after {
    display: none !important;
  }
  .dropdown {
    .dropdown-menu {
      width: 200px !important;
      padding: 0;
    }
    .dropdown-item {
      i {
        margin-right: 10%;
      }
      height: 50px;
      padding-left: 15%;
      padding-right: 15%;
      font-size: 16px;
      padding-top: 14px;
      font-weight: 600;
      border-top: 1px solid;
    }
  }
}
