// bootstrap break points
$smBreak: 768px;
$mdBreak: 992px;
$lgBreak: 1200px;

// font sizes
$baseFontSize: 18px;
$scale: 4;

@import 'colors';
@import 'navbar';
@import 'mixins';
@import 'body';
@import 'toggle';

@include scaleHeaders($baseFontSize, $scale);
//test
@import 'media';
