.Light {
  background-color: #e1e1eb; }
  .Light .navbar {
    background-color: #0091d5; }
  .Light .card {
    background-color: white; }
  .Light .dropdown-menu {
    background-color: #ebebeb !important; }
  .Light .dropdown-item {
    color: rgba(0, 0, 0, 0.85) !important; }
  .Light .dropdown-item:hover {
    background-color: #ffffff; }
  .Light .card-header {
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid rgba(0, 0, 0, 0.75); }

.Dark {
  background-color: #151520;
  color: white; }
  .Dark .navbar {
    background-color: #2b2b40; }
  .Dark .card {
    background-color: #2b2b40; }
  .Dark .form-control {
    background-color: #555580 !important;
    border: none !important;
    color: white; }
  .Dark .list-group-item {
    background-color: #2b2b40 !important;
    border: none;
    color: white; }
  .Dark .dropdown-menu {
    background-color: #383d48 !important; }
  .Dark .dropdown-item {
    color: rgba(255, 255, 255, 0.85) !important; }
  .Dark .dropdown-item:hover {
    background-color: #5c6578; }
  .Dark .card-header {
    color: rgba(255, 255, 255, 0.85);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75); }

html,
body {
  font-family: Arial, Helvetica, sans-serif; }

.Light,
.Dark {
  overflow: hidden;
  font-size: 16px;
  height: 100vh; }

.Splash {
  overflow: hidden;
  font-size: 16px;
  height: 100vh;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), url("https://firebasestorage.googleapis.com/v0/b/react-client-panel-49a4a.appspot.com/o/layout%2Ftop-view-businessman-sitting-office-footage-073318654_prevstill.jpeg?alt=media&token=8d34c258-78da-476b-b870-e18b5ec3974c");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.mt {
  margin-top: 10vh; }

.btn-primary {
  background-color: #0091d5 !important;
  color: white;
  font-weight: 600; }

.btn-primary:hover {
  background-color: #00acff !important; }

.fa-edit {
  color: black;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 200; }

.clients.table th,
.clients.table td {
  padding-left: 5%; }

.settings {
  margin-left: 5%;
  margin-right: 10%; }

.rollingDark {
  padding-top: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px; }

.rolling-text-dark {
  font-size: 20px !important;
  color: aqua; }

.rollingLight {
  padding-top: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px; }

.rolling-text-light {
  font-size: 20px !important;
  color: #151520; }

.full .navbar-brand {
  margin-left: 2%;
  padding: 0; }

.full .right-bar {
  margin-right: 30px;
  width: 160px; }

.full .badge-notify {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  font-size: 12px;
  background: rgba(255, 100, 50, 0.85);
  position: relative;
  left: -8px;
  top: -8px;
  border-radius: 50%; }

.full .nav-link {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.85) !important; }
  .full .nav-link i {
    font-size: 20px;
    padding-top: 10px; }

.full .nav-link:hover {
  color: white !important; }

.full .dropdown-toggle {
  border-radius: 50%;
  width: 36px !important;
  height: 36px !important;
  font-size: 18px;
  padding-left: 5px !important;
  padding-top: 5px !important; }

.full .dropdown-toggle:hover {
  border: 2px solid rgba(255, 255, 255, 0.75); }

.full .dropdown-toggle:after {
  display: none !important; }

.full .dropdown .dropdown-menu {
  width: 200px !important;
  padding: 0; }

.full .dropdown .dropdown-item {
  height: 50px;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 16px;
  padding-top: 14px;
  font-weight: 600;
  border-top: 1px solid; }
  .full .dropdown .dropdown-item i {
    margin-right: 10%; }

.mobile .navbar {
  height: 0px; }

.mobile .navbar-brand {
  margin-left: 2%; }

.mobile .account-btn {
  margin-right: 1.5vw; }

.mobile .nav-link {
  color: rgba(255, 255, 255, 0.85) !important; }
  .mobile .nav-link i {
    font-size: 22px;
    line-height: 0px;
    padding-top: 10px; }

.mobile .nav-link:hover {
  color: white !important; }

.mobile .dropdown-toggle {
  border-radius: 50%;
  width: 36px !important;
  height: 36px !important;
  font-size: 22px;
  padding-left: 5px !important;
  padding-top: 5px !important; }

.mobile .dropdown-toggle:hover {
  border: 2px solid white; }

.mobile .dropdown-toggle:after {
  display: none !important; }

.mobile .dropup .dropdown-menu {
  border-radius: 0;
  margin: 0;
  padding: 0; }

.mobile .dropup .dropdown-item {
  height: 60px;
  padding-left: 40%;
  padding-right: 15%;
  font-size: 18px;
  padding-top: 15px;
  font-weight: 600;
  border-bottom: 1px solid; }
  .mobile .dropup .dropdown-item i {
    margin-right: 10%; }

.account-details h1 {
  margin-bottom: 2%; }

.account-details b {
  padding-left: 2%;
  font-weight: 600; }

.account-details p {
  line-height: 16px; }

.account-img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover; }

.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 60px; }

.switch input {
  display: none; }

.slide-label {
  font-size: 18px;
  margin-bottom: 20px; }

.slider {
  background-color: #ccc;
  bottom: 0px;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s; }

.slider:before {
  background-color: #00acff;
  bottom: -4px;
  content: '';
  left: 0px;
  position: absolute;
  transition: 0.4s;
  height: 32px;
  width: 32px; }

input:checked + .slider {
  background-color: #e1e1eb; }

input:checked + .slider:before {
  transform: translateX(26px); }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

body {
  font-size: 16px; }

.navbar {
  font-size: 18px; }

@media screen and (max-width: 992px) {
  h1 {
    font-size: 29px; }
  h2 {
    font-size: 26px; }
  h3 {
    font-size: 23px; }
  h4 {
    font-size: 20px; }
  h5 {
    font-size: 17px; }
  h6 {
    font-size: 14px; }
  body {
    font-size: 14px; }
  .navbar {
    font-size: 16px; } }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 22px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 18px; }
  h4 {
    font-size: 16px; }
  h5 {
    font-size: 14px; }
  h6 {
    font-size: 12px; }
  body {
    font-size: 12px; }
  .navbar {
    font-size: 14px; }
  .table th,
  .table td {
    padding-left: 2%; } }
