body {
  font-size: 18px;
  min-width: 560px; }

:link {
  font-size: 18px; }

.fa-edit {
  color: black;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 200; }

@media screen and (max-width: 992px) {
  .add-button {
    font-size: 14px; } }

@media screen and (max-width: 768px) {
  .add-button {
    font-size: 18px; } }
